{% extends 'base.html.twig' %}

{% block title %}Sign in{% endblock %}

{% block body %}
    {% if error %}
        <h1>Home logged</h1>
        <p>Logged in {{ lastUsername }}</p>
    {% else %}
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-4">
                    <h1 class="mb-5">{{ 'login.signin'|trans }}</h1>

                    {% if error %}
                        <div class="alert alert-danger">
                            {{ error.messageKey|trans(error.messageData, 'security') }}
                        </div>
                    {% endif %}

                    <div class="row">
                        <div class="col-12">
                            <p>{{ last_username }}</p>
                        </div>
                    </div>

                    <form action="{{ path('security_login') }}" method="post">
                        {{ form_start(form) }}
                            {{ form_row(form._username) }}
                            {{ form_row(form._password) }}
                            <button type="submit" class="btn btn-success">{{ 'login.login'|trans }}</button>
                        {{ form_end(form) }}
                    </form>
                </div>
            </div>
        </div>
    {% endif %}

{% endblock %}
